<div class="page-header"
     [ngStyle]="{background: tour.img ? 'url(http://localhost:3000/public/'+tour.img+') center / cover' : ''}">
  <div class="overlay"></div>
  <div class="container page-header__inner">
    <h1>{{tour.title}}</h1>
    <h2 class="h3">{{tour.country}}, {{tour.place}}</h2>
  </div>
</div>

<div class="container">

  <p class="h5 mb-4">Редактирование тура</p>
  <form [formGroup]="editTourForm" (ngSubmit)="onEditTourFormSubmit()">
    <div class="row">

      <div class="col-md-9">
        <div class="form-floating mb-3">
          <input pInputText formControlName="title" type="text" class="form-control" id="title" placeholder="Название">
          <label for="title">Название</label>
        </div>
      </div>

      <div class="col-md-3">
        <div class="input-group mb-3">
          <div class="form-floating ">
            <input pInputText formControlName="price" type="number" class="form-control" id="price" placeholder="Цена">
            <label for="price">Цена</label>
          </div>
          <span class="input-group-text">₽</span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input pInputText formControlName="place" type="text" class="form-control" id="place" placeholder="Локация">
          <label for="place">Локация</label>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-floating mb-3">
          <input pInputText formControlName="country" type="text" class="form-control" id="country"
                 placeholder="Локация">
          <label for="country">Страна</label>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-floating mb-3">
          <input pInputText formControlName="tourOperator" type="text" class="form-control" id="tourOperator"
                 placeholder="Тур оператор">
          <label for="tourOperator">Тур оператор</label>
        </div>
      </div>
    </div>

    <div class="form-floating mb-3">
      <textarea pInputTextarea formControlName="description" class="form-control" id="description"
                placeholder="Описание" style="height: 150px"></textarea>
      <label for="description">Описание</label>
    </div>

    <p-messages [(value)]="msgsEditTour" [enableService]="false"></p-messages>
    <button [disabled]="editTourForm.invalid || disabled" type="submit" class="btn btn-primary btn-lg mt-2 me-2">Обновить тур</button>
    <button type="button" (click)="initForm()" class="btn btn-outline-primary btn-lg mt-2 me-2">Отменить</button>
    <button [routerLink]="['/tours', tourID]" type="button" (click)="initForm()" class="btn btn-outline-primary btn-lg mt-2">К туру</button>
  </form>
</div>
